In [1]:
import pandas as pd 
import numpy as np 
import psycopg

In [ ]:
data_setores = pd.read_csv('dados/setores.csv')
data_setores = data_setores.drop(columns=['id'])
data_setores = data_setores[data_setores['NM_MUN'] == 'Santos']

data_setores.shape, data_setores.columns

((1048, 29),
 Index(['CD_SETOR', 'SITUACAO', 'CD_SIT', 'CD_TIPO', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_BAIRRO', 'NM_BAIRRO', 'CD_NU', 'NM_NU',
        'CD_FCU', 'NM_FCU', 'CD_AGLOM', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'],
       dtype='object'))

## Datasets de setor censitário

Tratando os dados para serem alimentados a suas respectivas tabelas no banco do Postgres.

In [ ]:
setores = data_setores.drop(columns=['SITUACAO', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'NM_BAIRRO', 'NM_NU', 'NM_FCU', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

setores['CD_BAIRRO'] = setores['CD_BAIRRO'].astype(int, errors='ignore')
setores.drop_duplicates(subset=['CD_SETOR'], inplace=True)

In [ ]:
setores.to_csv('dados/setores_santos.csv', index=False)

In [ ]:
# Dropando colunas desnecessárias para cada coluna do BD
situacao_setores = data_setores.drop(columns=['CD_SETOR', 'CD_TIPO', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_BAIRRO', 'NM_BAIRRO', 'CD_NU', 'NM_NU',
        'CD_FCU', 'NM_FCU', 'CD_AGLOM', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

tipo_setores = data_setores.drop(columns=['CD_SETOR', 'SITUACAO', 'CD_SIT', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_BAIRRO', 'NM_BAIRRO', 'CD_NU', 'NM_NU',
        'CD_FCU', 'NM_FCU', 'CD_AGLOM', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

bairro_setores = data_setores.drop(columns=['CD_SETOR', 'SITUACAO', 'CD_SIT', 'CD_TIPO', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_NU', 'NM_NU',
        'CD_FCU', 'NM_FCU', 'CD_AGLOM', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

nucleo_setores = data_setores.drop(columns=['CD_SETOR', 'SITUACAO', 'CD_SIT', 'CD_TIPO', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_BAIRRO', 'NM_BAIRRO',
        'CD_FCU', 'NM_FCU', 'CD_AGLOM', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

fcu_setores = data_setores.drop(columns=['CD_SETOR', 'SITUACAO', 'CD_SIT', 'CD_TIPO', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_BAIRRO', 'NM_BAIRRO', 'CD_NU', 'NM_NU', 
        'CD_AGLOM', 'NM_AGLOM', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

aglom_setores = data_setores.drop(columns=['CD_SETOR', 'SITUACAO', 'CD_SIT', 'CD_TIPO', 'AREA_KM2', 'CD_REGIAO',
        'NM_REGIAO', 'CD_UF', 'NM_UF', 'CD_MUN', 'NM_MUN', 'CD_DIST', 'NM_DIST',
        'CD_SUBDIST', 'NM_SUBDIST', 'CD_BAIRRO', 'NM_BAIRRO', 'CD_NU', 'NM_NU',
        'CD_FCU', 'NM_FCU', 'CD_RGINT', 'NM_RGINT',
        'CD_RGI', 'NM_RGI', 'CD_CONCURB', 'NM_CONCURB'])

In [ ]:
situacao_setores['CD_SIT'].unique()

array([1, 2, 9, 5, 8, 3])

In [ ]:
situacao_setores.drop_duplicates(subset=['CD_SIT'], inplace=True)
situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 1] = 'Área urbana de alta densidade de edificações de cidade ou vila'
situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 2] = 'Área urbana de baixa densidade de edificações de cidade ou vila'
situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 3] = 'Núcleo urbano'
situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 5] = 'Aglomerado rural - Povoado'
situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 8] = 'Área rural (exclusive aglomerados)'
situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 9] = 'Massas de água'
situacao_setores.to_csv('dados/situacao_setores.csv', index=False)

/tmp/ipykernel_5510/4084252003.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 1] = 'Área urbana de alta densidade de edificações de cidade ou vila'
/tmp/ipykernel_5510/4084252003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 1] = 'Área urbana de alta densidade de edificações de cidade ou vila'
/tmp/ipykernel_5510/4084252003.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 2] = 'Área urbana de baixa densidade de edificações de cidade ou vila'
/tmp/ipykernel_5510/4084252003.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 2] = 'Área urbana de baixa densidade de edificações de cidade ou vila'
/tmp/ipykernel_5510/4084252003.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 3] = 'Núcleo urbano'
/tmp/ipykernel_5510/4084252003.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 3] = 'Núcleo urbano'
/tmp/ipykernel_5510/4084252003.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 5] = 'Aglomerado rural - Povoado'
/tmp/ipykernel_5510/4084252003.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 5] = 'Aglomerado rural - Povoado'
/tmp/ipykernel_5510/4084252003.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 8] = 'Área rural (exclusive aglomerados)'
/tmp/ipykernel_5510/4084252003.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 8] = 'Área rural (exclusive aglomerados)'
/tmp/ipykernel_5510/4084252003.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 9] = 'Massas de água'
/tmp/ipykernel_5510/4084252003.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  situacao_setores['SITUACAO'][situacao_setores['CD_SIT'] == 9] = 'Massas de água'

In [ ]:
tipo_setores.drop_duplicates(subset=['CD_TIPO'], inplace=True)
tipo_setores['NM_TIPO'] = ''
tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 0] = 'Não especial'
tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 1] = 'Favela e Comunidade Urbana'
tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 4] = 'Setor com baixo patamar domiciliar'
tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 7] = 'Convento / Hospital / ILPI / IACA'
tipo_setores.to_csv('dados/tipo_setores.csv', index=False)

/tmp/ipykernel_5510/531277532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 0] = 'Não especial'
/tmp/ipykernel_5510/531277532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 0] = 'Não especial'
/tmp/ipykernel_5510/531277532.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 1] = 'Favela e Comunidade Urbana'
/tmp/ipykernel_5510/531277532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 1] = 'Favela e Comunidade Urbana'
/tmp/ipykernel_5510/531277532.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 4] = 'Setor com baixo patamar domiciliar'
/tmp/ipykernel_5510/531277532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 4] = 'Setor com baixo patamar domiciliar'
/tmp/ipykernel_5510/531277532.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 7] = 'Convento / Hospital / ILPI / IACA'
/tmp/ipykernel_5510/531277532.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tipo_setores['NM_TIPO'][tipo_setores['CD_TIPO'] == 7] = 'Convento / Hospital / ILPI / IACA'

In [ ]:
tipo_setores.head()

       CD_TIPO                             NM_TIPO
59893        0                        Não especial
59895        4  Setor com baixo patamar domiciliar
59905        1          Favela e Comunidade Urbana
60232        7   Convento / Hospital / ILPI / IACA

In [ ]:
bairro_setores.drop_duplicates(subset=['CD_BAIRRO'], inplace=True)
bairro_setores.dropna(subset=['CD_BAIRRO'], inplace=True)
bairro_setores.to_csv('dados/bairro_setores.csv', index=False)

In [ ]:
nucleo_setores.drop_duplicates(subset=['CD_NU'], inplace=True)
nucleo_setores.dropna(subset=['CD_NU'], inplace=True)
nucleo_setores.to_csv('dados/nucleo_setores.csv', index=False)

In [ ]:
fcu_setores.drop_duplicates(subset=['CD_FCU'], inplace=True)
fcu_setores.dropna(subset=['CD_FCU'], inplace=True)
fcu_setores.to_csv('dados/fcu_setores.csv', index=False)

In [ ]:
aglom_setores.drop_duplicates(subset=['CD_AGLOM'], inplace=True)
aglom_setores.dropna(subset=['CD_AGLOM'], inplace=True)
aglom_setores.to_csv('dados/aglom_setores.csv', index=False)

## Dataset de populacao
Especificamente para a tabela de população.

In [33]:
data_pop = pd.read_csv('dados/populacao.csv')

data_pop.shape, data_pop.columns

((354965, 14),
 Index(['CD_SETOR', 'CD_SIT', 'CD_TIPO', 'v0001', 'v0002', 'v0003', 'v0004',
        'v0005', 'v0006', 'v0007', 'AREA_DOMICILIADA_KM2', 'AREA_KM2',
        'DENSIDADE_DEMOGRAFICA_DOMICILIADA_HAB_KM2',
        'DENSIDADE_DEMOGRAFICA_SETOR_HAB_KM2'],
       dtype='object'))

In [35]:
data_pop.rename(columns={
    'v0001': 'TOTAL_PESSOAS', 
    'v0002': 'TOTAL_DOMICILIOS',
    'v0003': 'TOTAL_DOMICILIOS_PARTICULARES',
    'v0004': 'TOTAL_DOMICILIOS_COLETIVOS',
    'v0005': 'MEDIA_MORADORES_DOM_PART_OCUPADOS',
    'v0006': 'PERCENT_DOM_PART_OCUPADOS_IMPUTADOS',
    'v0007': 'TOTAL_DOMICILIOS_PART_OCUPADOS',
}, inplace=True)

In [36]:
data_pop = data_pop.drop(columns=['CD_SIT', 'CD_TIPO', 'AREA_KM2'])

In [38]:
data_pop = data_pop[data_pop['CD_SETOR'].isin(data_setores['CD_SETOR'])]

In [39]:
data_pop

,CD_SETOR,TOTAL_PESSOAS,TOTAL_DOMICILIOS,TOTAL_DOMICILIOS_PARTICULARES,TOTAL_DOMICILIOS_COLETIVOS,MEDIA_MORADORES_DOM_PART_OCUPADOS,PERCENT_DOM_PART_OCUPADOS_IMPUTADOS,TOTAL_DOMICILIOS_PART_OCUPADOS,AREA_DOMICILIADA_KM2,DENSIDADE_DEMOGRAFICA_DOMICILIADA_HAB_KM2,DENSIDADE_DEMOGRAFICA_SETOR_HAB_KM2
39,354850005000608,19,1,0,1,"0,0","0,0000",0,"0,000536300719085","35427,8846249107","35427,8846249107"
191,354850005001269,250,272,272,0,"1,7","0,1000",150,"0,001636040257139","152807,975787334","152807,975787334"
259,354850005000925,143,113,113,0,"1,9","0,0135",74,"0,001616583817133","88458,1414736722","88458,1414736722"
331,354850005000673,229,156,156,0,"2,0","0,0614",114,"0,001926446114673","118871,739134459","118871,739134459"
373,354850005000908,163,194,194,0,"1,9","0,0115",87,"0,002276107717276","71613,4824212428","71613,4824212428"
...,...,...,...,...,...,...,...,...,...,...,...
353523,354850005000036,0,0,0,0,"0,0","0,0000",0,"0,1331",0,0
354199,354850005000604,0,0,0,0,"0,0","0,0000",0,"0,03356",0,0
354754,354850005000659,0,0,0,0,"0,0","0,0000",0,"0,02415",0,0
354934,354850005000218,0,0,0,0,"0,0","0,0000",0,0,NaN,0
354935,354850005001361,0,0,0,0,"0,0","0,0000",0,0,NaN,0

In [24]:
data_pop.shape, data_pop.columns

((1026, 11),
 Index(['CD_SETOR', 'TOTAL_PESSOAS', 'TOTAL_DOMICILIOS',
        'TOTAL_DOMICILIOS_PARTICULARES', 'TOTAL_DOMICILIOS_COLETIVOS',
        'MEDIA_MORADORES_DOM_PART_OCUPADOS',
        'PERCENT_DOM_PART_OCUPADOS_IMPUTADOS', 'TOTAL_DOMICILIOS_PART_OCUPADOS',
        'AREA_DOMICILIADA_KM2', 'DENSIDADE_DEMOGRAFICA_DOMICILIADA_HAB_KM2',
        'DENSIDADE_DEMOGRAFICA_SETOR_HAB_KM2'],
       dtype='object'))

In [25]:
# Trocando valores vazios e vírgulas por ponto para converter para float
for col in data_pop.columns:
    if type(data_pop[col].iloc[0]) == str:
        data_pop[col] = (
            data_pop[col]
            .replace('', '0')
            .str.replace(',', '.', regex=False)
            .astype(float)
        )

data_pop['DENSIDADE_DEMOGRAFICA_SETOR_HAB_KM2'].head(3)

39      35427.884625
191    152807.975787
259     88458.141474
Name: DENSIDADE_DEMOGRAFICA_SETOR_HAB_KM2, dtype: float64

In [ ]:
data_pop.to_csv('dados/populacao_santos.csv', index=False)

## Dataset de Logradouros

In [152]:
import pandas as pd 
import numpy as np 
import psycopg
from autocorrect import Speller

data_log = pd.read_csv('qgis/logradouros/logradouros.csv')

In [153]:
data_log = data_log.rename(columns={
    'CD_SETOR': 'setor', 'CD_QUADRA': 'quadra', 'CD_FACE': 'face', 'NM_TIP_LOG': 'tipo_logradouro', 
    'NM_TIT_LOG': 'titulo_logradouro', 'NM_LOG': 'logradouro', 'TOT_RES': 'total_residencias', 
    'TOT_GERAL': 'total_geral'})

In [154]:
# No QGIS, algumas linhas de logradouro estão com valores ausentes, pois elas existem apenas como 
# geometria visual para ilustrar as ruas. Elas serão removidas, pois não contêm informações relevantes para o BD.
data_log = data_log.dropna(subset=['tipo_logradouro'])

In [155]:
# Criando uma coluna concatenada de logradouro para facilitar a minha vida no SQL.
data_log['logradouro_completo'] = None

for index, row in data_log.iterrows():
    if pd.isna(row.titulo_logradouro):
        logradouro_completo = f"{row.tipo_logradouro} {row.logradouro}"
    else:
        logradouro_completo = f"{row.tipo_logradouro} {row.titulo_logradouro} {row.logradouro}"
    data_log.loc[index, 'logradouro_completo'] = logradouro_completo

In [156]:
data_log['logradouro_completo'].sample(10)

10577                 AVENIDA AFONSO SCHMIDT
10086                            RUA BOLIVIA
9566                 RUA TEIXEIRA DE FREITAS
4998     RUA DOUTOR CYRO DE ATHAYDE CARNEIRO
1846                   AVENIDA SENADOR FEIJO
7851                      RUA PADRE ANCHIETA
13244                       RUA DOM PEDRO II
13288                        RUA FREI CANECA
1399                              RUA QUATRO
2920                   AVENIDA AFFONSO PENNA
Name: logradouro_completo, dtype: object

In [157]:
data_log.head()

,setor,quadra,face,tipo_logradouro,titulo_logradouro,logradouro,total_residencias,total_geral,logradouro_completo
0,354850005000003P,1.0,1.0,RUA,VISCONDE,DO RIO BRANCO,11.0,22.0,RUA VISCONDE DO RIO BRANCO
1,354850005000003P,1.0,2.0,RUA,NaN,DA CONSTITUICAO,14.0,18.0,RUA DA CONSTITUICAO
2,354850005000003P,1.0,3.0,RUA,GENERAL,CAMARA,5.0,27.0,RUA GENERAL CAMARA
3,354850005000003P,1.0,4.0,RUA,NaN,BRAZ CUBAS,3.0,17.0,RUA BRAZ CUBAS
4,354850005000003P,2.0,1.0,RUA,GENERAL,CAMARA,10.0,33.0,RUA GENERAL CAMARA

In [158]:
data_log.isna().sum()

setor                     0
quadra                    0
face                      0
tipo_logradouro           0
titulo_logradouro      6038
logradouro                0
total_residencias         0
total_geral               0
logradouro_completo       0
dtype: int64

In [159]:
for index, row in data_log.iterrows():
    data_log.loc[index, 'setor'] = row['setor'].replace('P', '')
data_log['setor'] = data_log['setor'].astype(int, errors='ignore')

In [160]:
data_log['setor'].head(10)

0    354850005000003
1    354850005000003
2    354850005000003
3    354850005000003
4    354850005000003
5    354850005000003
6    354850005000003
7    354850005000003
8    354850005000003
9    354850005000003
Name: setor, dtype: int64

In [161]:
# data_log = data_log.drop_duplicates(subset=['setor'])

In [162]:
# data_log['setor_quadra_face'] = data_log['setor'].astype(str) + '_' + data_log['quadra'].astype(int).astype(str) + '_' + data_log['face'].astype(int).astype(str)
# data_log['setor_quadra_face'].duplicated().sum()

In [170]:
data_log[~data_log['setor'].isin(data_setores['CD_SETOR'])]

,setor,quadra,face,tipo_logradouro,titulo_logradouro,logradouro,total_residencias,total_geral,logradouro_completo
629,354850005000027,1.0,1.0,RUA,NaN,DO ASILO,9.0,9.0,RUA DO ASILO
630,354850005000027,1.0,2.0,RUA,NaN,F JOSE DOS SANTOS,3.0,3.0,RUA F JOSE DOS SANTOS
631,354850005000027,1.0,3.0,RUA,NaN,F JOSE DOS SANTOS,11.0,11.0,RUA F JOSE DOS SANTOS
632,354850005000027,1.0,4.0,RUA,NaN,F JOSE DOS SANTOS,4.0,4.0,RUA F JOSE DOS SANTOS
633,354850005000027,1.0,5.0,AVENIDA,NaN,BANDEIRANTES,1.0,1.0,AVENIDA BANDEIRANTES
...,...,...,...,...,...,...,...,...,...
12733,354850005001255,7.0,6.0,RUA,NaN,F,7.0,8.0,RUA F
12734,354850005001255,7.0,7.0,RUA,NaN,F,7.0,8.0,RUA F
12735,354850005001255,7.0,8.0,RUA,NaN,F,45.0,48.0,RUA F
12736,354850005001255,7.0,9.0,AVENIDA,NaN,C,0.0,0.0,AVENIDA C
12737,354850005001255,7.0,10.0,AVENIDA,NaN,C,0.0,6.0,AVENIDA C

In [163]:
data_log.to_csv('dados/csv tabelas/logradouros_tratados.csv', index=False)

In [164]:
data_log.columns

Index(['setor', 'quadra', 'face', 'tipo_logradouro', 'titulo_logradouro',
       'logradouro', 'total_residencias', 'total_geral',
       'logradouro_completo'],
      dtype='object')

## GeoJSON de setores

In [1]:
import json

In [ ]:
with open("dados/setores.geojson", "r", encoding="utf-8") as f:
    geojson_setores = json.load(f)

geojson_setores["features"] = [
    feature
    for feature in geojson_setores["features"]
    if feature["properties"]["NM_MUN"] == "Santos"
]

with open("dados/setores_santos.geojson", "w", encoding="utf-8") as f:
    json.dump(geojson_setores, f, ensure_ascii=False, indent=4)